@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --black: #333333;
  --cyan: #0084ac;
  --darkgray: #888888;
  --green: #7cb82f;
  --lightgray: #b2b2b2;
  --orange: #ff6900;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'brandon-grotesque', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1rem;
}

/* HEADER */
.header {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: row nowrap;
  max-height: 70px;
  padding: 1.25rem 3rem;
  width: 100%;
}

.logo-wrapper {
  flex: 1 0 auto;
  max-height: 1.4rem;
  max-width: 9rem;
}

.logo {
  height: 100%;
  object-fit: contain;
  object-position: left;
  width: 100%;
  max-height: inherit;
}

.menu-items {
  background-color: var(--lightgray);
  flex: 1 1 80%;
  height: 100%;
  margin: 0 1rem;
  max-height: inherit;
  width: 100%;
}

.search {
  border-radius: 2rem;
  border: 1px solid var(--lightgray);
  display: flex;
  flex-flow: row nowrap;
  margin-left: 0.5em;
  padding: 0.25em 0.75em;
}

.search i {
  font-size: 1.2em;
}

input {
  background: none;
  border: none;
}

.menu-toggle,
.search-toggle {
  display: none
}

@media (max-width: 768px) {
  .header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .logo-wrapper {
    flex: 1 1 100%;
    max-width: unset;
  }

  .menu-items {
    display: none;
  }

  .menu-toggle {
    display: initial;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .logo {
    object-position: center;
  }

  .search {
    display: none;
  }

  .search-toggle {
    display: initial;
    margin-left: 1rem;
  }
}

/* HEADER END */

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

/* ATF */
.atf {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 4rem;
  line-height: 1em;
  margin-bottom: 0.75rem;
}

.description {
  margin: 0;
  max-width: 680px;
}

.row {
  color: var(--lightgray);
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.875rem;
  padding: 1.5em 0.5em;
  position: relative;
}

.row::after {
  border-bottom: 1px solid var(--black);
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
}

.row > *:not(:last-child) {
  padding-right: 2em;
}

.link {
  color: var(--orange);
}
/* ATF END */

/* ARTICLES */
.articles {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 1.5rem 2rem 3rem;
  width: 100%;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  margin-bottom: 3rem;
}

.grid .el {
  background: white;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.15);
  grid-column: span 1;
  position: relative;
}

.el:first-child {
  grid-column: span 2;
}

.grid .el .el--featured {
  background-color: var(--lightgray);
  color: white;
  display: none;
  font-size: 0.75em;
  left: 0;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
}

.grid .el .el--featured i {
  padding-right: 0.5em;
}

.grid .el.featured .el--featured {
  display: initial;
}

.el--img-wrapper {
  height: 150px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.el--img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.el--text {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 150px;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.el:first-child .el--text {
  padding: 0.5em 10%;
}

.el--text > :not(:last-child) {
  padding-bottom: 1.5em;
}

.el--text > * {
  margin: 0;
}

.el--tag {
  color: var(--darkgray);
  flex: 0 0 auto;
  font-family: 'brandon-grotesque';
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

.el--tag::after {
  background-color: var(--lightgray);
  bottom: 0.75em;
  content: '';
  display: block;
  height: 0.25em;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 2em;
}

.el--title {
  flex: 1 0 auto;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  text-transform: capitalize;
}

.el:first-child .el--title {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.el.video .el--featured,
.el.video .el--tag::after {
  background-color: var(--cyan);
}

.el.podcast .el--featured,
.el.podcast .el--tag::after {
  background-color: var(--orange);
}

.el.article .el--featured,
.el.article .el--tag::after {
  background-color: var(--green);
}
.el.featured .el--img-wrapper {
  border: 4px solid var(--lightgray);
}

.el.video .el--img-wrapper {
  border-color: var(--cyan);
}

.el.podcast .el--img-wrapper {
  border-color: var(--orange);
}

.el.article .el--img-wrapper {
  border-color: var(--green);
}

.btn {
  background-color: var(--orange);
  border-radius: 2em;
  border: 1px solir var(--orange);
  color: white;
  font-family: 'brandon-grotesque';
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em 2em;
}

@media screen and (max-width: 480px) {
  .articles,
  .atf {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .row {
    flex-wrap: wrap;
  }

  .learn {
    flex: 0 0 100%;
    padding-bottom: 1em;
  }

  .grid {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .el:first-child {
    grid-column: span 1;
  }
}

.footer {
  background-color: var(--darkgray);
  height: 320px;
  max-height: 320px;
  width: 100%;
}

.footer .wrapper {
  background-color: rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}